
body {
  font-family: 'Arimo', sans-serif;
  padding:10px;
}
h1{
  background-color: turquoise;
  height:30px;
}
.thead{
  font-size: 1.4em;
}
.equipment-table {
  width: 280px;
}


/* Mobile and Tablet */
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table into block */
	table, thead, tbody, th, td, tr {
		display: block;
	}


	/* Hide table headers */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 20%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
